<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico"> -->

    <title>Sign in -- COMP1040</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="/change_password" method="post">
        <h2 class="form-signin-heading">Please sign in first</h2>
        <label class="sr-only">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" required autofocus value="{{request.form.username }}">
        <br>
        <label class="sr-only">Old Password</label>
        <input type="password" name="password"  class="form-control" placeholder="Old Password" required value="{{request.form.password }}">
        <label class="sr-only">New Password</label>
        <input type="password" name="new_pass"  class="form-control" placeholder="New Password" required value="{{request.form.new_pass }}">
        <label class="sr-only">Confirm New Password</label>
        <input type="password" name="new_pass_confirm"  class="form-control" placeholder="Confirm New Password" required value="{{request.form.new_pass_confirm }}">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <br>
        <br>
      </form>
      <center>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
      </center>
    </div> <!-- /container -->

  </body>
</html>
