{% extends "base.html" %}
{% block content %}
<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="{{ url_for('admin') }}">Admin</a></li>
      <li role="presentation"><a href="{{ url_for('query') }}">Query</a></li>
      <li role="presentation" class="active"><a href="{{ url_for('notice') }}">Notice</a></li>
      <li role="presentation"><a href="{{ url_for('admin_logout') }}">Log Out</a></li>
    </ul>
  </nav>
  <h3 class="text-muted"><a href="{{url_for('home')}}" style="text-decoration:none">Share and Learn</a></h3>
</div>

<form action="/add-notice", method="post">
  <div class="form-group">
    <h1>Make a new notice</h1>
  </div>

  <div class="form-group">
    <label>Title</label>
    <input class="form-control" name = "title" required>
  </div>

  <div class="form-group">
    <label>Text area</label>
    <textarea class="form-control" rows="5" id = "content" name="text" required></textarea>
  </div>

  <button type="submit" class="btn btn-primary" value="Post" data-toggle="modal" data-target=".bs-example-modal-sm">Submit</button>
  <button type="reset" class="btn btn-success">Reset</button>
</form>


{% endblock %}